ROS_DOMAIN_ID=42
ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
DISPLAY=:0

FLORIBOT_BASE_REPO_PATH=../../FloriBot4.0_ROS2_Jazzy_Base-main

ROBOT_LOCALIZATION_SHA=3efa714fb9c1ff40966327b7bed7053b2570be4d

LOCALIZATION_CONFIG=/ws/config/localization/local_ekf.yaml
