ROS_DOMAIN_ID=42
ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
DISPLAY=:0

ROBOT_LOCALIZATION_SHA=3efa714fb9c1ff40966327b7bed7053b2570be4d

FLORIBOT_BASE_REPO=https://github.com/Team-FloriBot/FloriBot4.0_ROS2_Jazzy_Base.git
FLORIBOT_BASE_REF=main

LOCALIZATION_CONFIG=/ws/config/localization/local_ekf.yaml
